body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    max-width: 300px;
    background-color: #444;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#display {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    text-align: right;
    background-color: #555;
    color: white;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: rgba(119, 119, 119, 0.738);
    color: white;
    cursor: pointer;
}
button.wide {
    grid-column: span 2;
    background-color: #f57c00;
}
button.equals {
    background-color: #f57c00;
}
button.operator {
    background-color: #1976D2;
}
button:hover {
    background-color: #555;
}